<div style="width: 100%; height: 200px; overflow: auto;">
    <div class="col s12">
        <div class="docmemnt" *ngFor="let item of data">
            <div class="doc-description">
                <a class="doc_title">{{item.docName}}</a>
                <span class="doc-status right draft">{{item.docStatus}}</span>
            </div>
            <div class="doc-info">
                <span>{{item.docDesc}}</span>
                <span class="doc-price">{{item.docPrice}}</span>
                <span>By: {{item.docAuthor}}</span>
            </div>
        </div>
    </div>
</div>
<div class="col s12"><a class="right margin10">View All</a></div>