  .doc-info{
    span{
      display:block;
    }
    .grey{
      color: #999;
    }
  }
  
  .not-last {
    border-bottom:1px solid #ccc;
    padding-bottom:15px;
  }
  
  .document{
    margin-top:15px;
    &:not(:first-child){
      border-top:1px solid #ccc;
      padding-top:15px;
    }
  .doc-status{
    border-radius: 3px;
    color:#fff;
    padding: 0 5px;
  }
  .approvalPending{
    // background:#f9ab3e;
    background: #5A68C8;
  }
  .draft{
    // background:#ccc; 
    background: #E53935;
  }
  .doc-price{
    color:#56dcd3;
  }
}