<div *ngIf="layoutManagerConfig" style="margin-top: 50px;">
	<div class="row">
		<div class="col s12">
			<div class="title"><b>Product and Services</b></div>
		</div>
	</div>
	<smart-layout-manager [config]="layoutManagerConfig"></smart-layout-manager>
</div>
<!-- 
<div class="row">
	<div class="col s12 l9 m9">
		<div class="column-layout paddingTop15">
			<div class="row">
				<div class="col s12">
					<div class="title">Categories <a class="right">View All</a></div>
				</div>

				<div class="col s12 l3 m3" *ngFor="let category of categoriesData">
					<div class="card">
						<div class="card-head">
							<img src="" alt="image go here">
						</div>
						<div class="card-body">
							<div class="card-title">
								{{category.Name}}
							</div>
							<div class="card-para">
								Browse through all the office supplier available.
							</div>
						</div>
					</div>
				</div>

				<div class="col s12 l3 m3">
					<div class="card">
						<div class="add-new">
							<i class="icon icon--xLarge">
								<svg>
									<use xlink:href="#icon_CirclePlus" xmlns:xlink="http://www.w3.org/1999/xlink">
									</use>
								</svg>
							</i>
							<span>
								ADD NEW
							</span>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col s12">
					<div class="title">Forms</div>
				</div>
				<div class="col s12 l3 m3" *ngFor="let forms of formsData">

					<div class="card">
						<div class="card-head">
							<img src="" alt="image go here">
						</div>
						<div class="card-body">
							<div class="card-title">
								{{forms.Name}}
							</div>
							<div class="card-para">
								Browse through all the office supplier available.
							</div>
						</div>

					</div>
				</div>
				<div class="col s12 l3 m3">
					<div class="card">
						<div class="add-new">
							<i class="icon icon--xLarge">
								<svg>
									<use xlink:href="#icon_CirclePlus" xmlns:xlink="http://www.w3.org/1999/xlink">
									</use>
								</svg>
							</i>
							<span>
								ADD NEW
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col s12 l3 m3">
		<div class="column-left-layout">
			<smart-tabs (clickedTab)='yourTabClicked($event)'>
				<smart-tab [tabTitle]="tabTitle" [active]="true">
					<ng-template tab-title-content>
						Active
						<i class="icon iconSmall ">
							<svg>
								<use xlink:href="#icon_ActionPlan" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
							</svg>
						</i>
					</ng-template>

					<div smart-native-scroll [scrollConfig]="scrollConfig">
						<div class="col s12">
							<div class="docmemnt" *ngFor="let docItem of docmemnt">
								<div class="doc-description">
									<a class="doc_title">{{docItem.docTitle}}</a>
									<span
										class="doc-status right {{docItem.docStatusColor}}">{{docItem.docStatus}}</span>
								</div>
								<div class="doc-info">
									<span>{{docItem.docProd}}</span>
									<span class="doc-price">{{docItem.docProdPrice}}</span>
									<span>By: {{docItem.docBy}}</span>
								</div>
							</div>
						</div>
					</div>

				</smart-tab>
				<smart-tab>
					<ng-template tab-title-content>
						Documents
					</ng-template>

					<div smart-native-scroll [scrollConfig]="scrollConfig">
						<div class="col s12">
							<div class="docmemnt">
								your tab content for 2 tab

							</div>
						</div>
					</div>
				</smart-tab>
				<div class="col s12">
					<a class="right">View All</a>
				</div>
			</smart-tabs>
		</div>

		<div class="column-left-layout marginTop25">
			<smart-tabs (clickedTab)='yourTabClicked($event)'>
				<smart-tab [tabTitle]="tabTitle" [active]="true">
					<ng-template tab-title-content>
						Purchase History
					</ng-template>

					<div smart-native-scroll [scrollConfig]="scrollConfig">
						<div class="col s12">
							<div class="docmemnt">
								<span class="center">No Order Currently</span>
							</div>
						</div>
					</div>
				</smart-tab>
				<smart-tab>
					<ng-template tab-title-content>
						My List
						<i class="icon iconSmall ">
							<svg>
								<use xlink:href="#icon_ActionPlan" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
							</svg>
						</i>
					</ng-template>

					<div smart-native-scroll [scrollConfig]="scrollConfig">
						<div class="col s12">
							<div class="docmemnt">
								your tab content for 2 tab
							</div>
						</div>
					</div>
				</smart-tab>
				<div class="col s12">
					<a class="right">View All</a>
				</div>
			</smart-tabs>
		</div>
	</div>
</div> -->